.root{
	-fx-background-color: #2E2E2E;
}
.pane{
	-fx-background-color: #2E2E2E;
}

.button{
    -fx-background-color: #4A4A4A;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
    -fx-font-size: 15pt;
}
.label{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #DB7739;
}
.label-zero{
	-fx-text-fill: #2E2E2E;
	-fx-background-color: #2E2E2E;
}

.button-back{
	-fx-background-image: url('BackArrow.png');
	-fx-background-size: 100% 100%;
	-fx-font-size: 15pt;
	-fx-background-color: #2E2E2E;
}
.skrift{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 20pt;
	-fx-font-weight: bold;	
}
.size{
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 30pt;
	-fx-font-weight: bold;	
}
