.root{
	-fx-background-color: #848D91;
}
.pane{
	-fx-background-color: #848D91;
}

.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
}
.label{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #DB7739;
}
.label-zero{
	-fx-text-fill: #DB7739;
	-fx-background-color: #DB7739;
}

.button-back{
	-fx-background-image: url('BackArrow.png');
	-fx-background-size: 100% 100%;
	-fx-font-size: 15pt;
	-fx-background-color: #848D91;
}