.root{
	-fx-background-color: #848D91;
}

.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
}
.label{
	-fx-text-fill: #FFFFFF;
}
.button-back{
	-fx-background-image: url('BackArrow.png');
	-fx-background-size: 100% 100%;
	-fx-font-size: 15pt;
	-fx-background-color: #848D91;
}
